In [ ]:
##I will be cleaning Tripadvisor Hotel Review data. First by uploading it into my Jupyter Notebook

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv(r"C:\Users\Nkosi\Downloads\tripadvisor_hotel_reviews.csv")
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 109 entries, 0 to 108
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Review  109 non-null    object
 1   Rating  109 non-null    int64
dtypes: int64(1), object(1)
memory usage: 1.8+ KB

In [ ]:
##I encountered some errors and had to find a work around to determine which of the modules/packages were causing the issue

In [3]:
import nltk

In [4]:
from nltk.tokenize import word_tokenize

In [5]:
from nltk.stem import PorterStemmer, WordNetLemmatizer

In [6]:
from nltk.corpus import stopwords

In [7]:
import re

In [8]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Nkosi\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [ ]:
##The stopwords package was not downlaoded and was causing the issue I was experiencing.

In [9]:
data.head()

                                              Review  Rating
0  nice hotel expensive parking got good deal sta...       4
1  ok nothing special charge diamond member hilto...       2
2  nice rooms not 4* experience hotel monaco seat...       3
3  unique, great stay, wonderful time hotel monac...       5
4  great stay great stay, went seahawk game aweso...       5

In [ ]:
##Now just a glance at the review data that I have, noting its inclusions of punctuations and then I will lowercase the dataset.

In [10]:
data['Review'][0]

'nice hotel expensive parking got good deal stay hotel anniversary, arrived late evening took advice previous reviews did valet parking, check quick easy, little disappointed non-existent view room room clean nice size, bed comfortable woke stiff neck high pillows, not soundproof like heard music room night morning loud bangs doors opening closing hear people talking hallway, maybe just noisy neighbors, aveda bath products nice, did not goldfish stay nice touch taken advantage staying longer, location great walking distance shopping, overall nice experience having pay 40 parking night,  '

In [11]:
data['review_lowercase'] = data['Review'].str.lower()

In [12]:
data.head()

,Review,Rating,review_lowercase
0,nice hotel expensive parking got good deal sta...,4,nice hotel expensive parking got good deal sta...
1,ok nothing special charge diamond member hilto...,2,ok nothing special charge diamond member hilto...
2,nice rooms not 4* experience hotel monaco seat...,3,nice rooms not 4* experience hotel monaco seat...
3,"unique, great stay, wonderful time hotel monac...",5,"unique, great stay, wonderful time hotel monac..."
4,"great stay great stay, went seahawk game aweso...",5,"great stay great stay, went seahawk game aweso..."

In [ ]:
##I will not proceed to cleaning the data beginning with the removal of stopwords.

In [13]:
en_stopwords = stopwords.words('english')

In [14]:
en_stopwords.remove('not')

In [15]:
data['review_no_stopwords'] = data['review_lowercase'].apply(lambda x: ' ' .join(word for word in x.split() if word not in(en_stopwords)))

In [16]:
data['review_no_stopwords'][0]

'nice hotel expensive parking got good deal stay hotel anniversary, arrived late evening took advice previous reviews valet parking, check quick easy, little disappointed non-existent view room room clean nice size, bed comfortable woke stiff neck high pillows, not soundproof like heard music room night morning loud bangs doors opening closing hear people talking hallway, maybe noisy neighbors, aveda bath products nice, not goldfish stay nice touch taken advantage staying longer, location great walking distance shopping, overall nice experience pay 40 parking night,'

In [17]:
data['review_no_stopwords_no_punct'] = data.apply(lambda x: re.sub(r"[*]", "star", x['review_no_stopwords']), axis=1)

In [18]:
data.head()

,Review,Rating,review_lowercase,review_no_stopwords,review_no_stopwords_no_punct
0,nice hotel expensive parking got good deal sta...,4,nice hotel expensive parking got good deal sta...,nice hotel expensive parking got good deal sta...,nice hotel expensive parking got good deal sta...
1,ok nothing special charge diamond member hilto...,2,ok nothing special charge diamond member hilto...,ok nothing special charge diamond member hilto...,ok nothing special charge diamond member hilto...
2,nice rooms not 4* experience hotel monaco seat...,3,nice rooms not 4* experience hotel monaco seat...,nice rooms not 4* experience hotel monaco seat...,nice rooms not 4star experience hotel monaco s...
3,"unique, great stay, wonderful time hotel monac...",5,"unique, great stay, wonderful time hotel monac...","unique, great stay, wonderful time hotel monac...","unique, great stay, wonderful time hotel monac..."
4,"great stay great stay, went seahawk game aweso...",5,"great stay great stay, went seahawk game aweso...","great stay great stay, went seahawk game aweso...","great stay great stay, went seahawk game aweso..."

In [19]:
data['review_no_stopwords_no_punct'] = data.apply(lambda x: re.sub(r"([^\w\s])", ' ' , x['review_no_stopwords_no_punct']), axis=1)

In [20]:
data.head()

,Review,Rating,review_lowercase,review_no_stopwords,review_no_stopwords_no_punct
0,nice hotel expensive parking got good deal sta...,4,nice hotel expensive parking got good deal sta...,nice hotel expensive parking got good deal sta...,nice hotel expensive parking got good deal sta...
1,ok nothing special charge diamond member hilto...,2,ok nothing special charge diamond member hilto...,ok nothing special charge diamond member hilto...,ok nothing special charge diamond member hilto...
2,nice rooms not 4* experience hotel monaco seat...,3,nice rooms not 4* experience hotel monaco seat...,nice rooms not 4* experience hotel monaco seat...,nice rooms not 4star experience hotel monaco s...
3,"unique, great stay, wonderful time hotel monac...",5,"unique, great stay, wonderful time hotel monac...","unique, great stay, wonderful time hotel monac...",unique great stay wonderful time hotel monac...
4,"great stay great stay, went seahawk game aweso...",5,"great stay great stay, went seahawk game aweso...","great stay great stay, went seahawk game aweso...",great stay great stay went seahawk game aweso...

In [21]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Nkosi\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [ ]:
##I will now proceed to tokenize the text in the reviews of the data set.

In [22]:
data['tokenized'] = data.apply(lambda x: word_tokenize(x['review_no_stopwords_no_punct']), axis=1)

In [23]:
data['tokenized'][10]

['poor',
 'value',
 'stayed',
 'monaco',
 'seattle',
 'july',
 'nice',
 'hotel',
 'priced',
 '100',
 '150',
 'night',
 'not',
 'hotel',
 'takes',
 'beating',
 'quotient',
 'experience',
 'simply',
 'average',
 'nothing',
 'exceptional',
 'paying',
 '300',
 'n',
 't',
 'ca',
 'n',
 't',
 'terribly',
 'disappointed',
 'wife',
 'stayed',
 'nicest',
 'suites',
 '200',
 'night',
 'felt',
 'like',
 'overpaying',
 'best',
 'advice',
 'shop',
 'quality',
 'wise',
 'league',
 'average',
 'marriott',
 'nice',
 'best',
 'western']

In [ ]:
##My next step in my data preprocessing will be stemming in order to reduce words to their base form to reduce the size and complexity of the data set.

In [24]:
ps = PorterStemmer()

In [25]:
data['stemmed'] = data['tokenized'].apply(lambda tokens: [ps.stem(token) for token in tokens])

In [26]:
data.head()

,Review,Rating,review_lowercase,review_no_stopwords,review_no_stopwords_no_punct,tokenized,stemmed
0,nice hotel expensive parking got good deal sta...,4,nice hotel expensive parking got good deal sta...,nice hotel expensive parking got good deal sta...,nice hotel expensive parking got good deal sta...,"[nice, hotel, expensive, parking, got, good, d...","[nice, hotel, expens, park, got, good, deal, s..."
1,ok nothing special charge diamond member hilto...,2,ok nothing special charge diamond member hilto...,ok nothing special charge diamond member hilto...,ok nothing special charge diamond member hilto...,"[ok, nothing, special, charge, diamond, member...","[ok, noth, special, charg, diamond, member, hi..."
2,nice rooms not 4* experience hotel monaco seat...,3,nice rooms not 4* experience hotel monaco seat...,nice rooms not 4* experience hotel monaco seat...,nice rooms not 4star experience hotel monaco s...,"[nice, rooms, not, 4star, experience, hotel, m...","[nice, room, not, 4star, experi, hotel, monaco..."
3,"unique, great stay, wonderful time hotel monac...",5,"unique, great stay, wonderful time hotel monac...","unique, great stay, wonderful time hotel monac...",unique great stay wonderful time hotel monac...,"[unique, great, stay, wonderful, time, hotel, ...","[uniqu, great, stay, wonder, time, hotel, mona..."
4,"great stay great stay, went seahawk game aweso...",5,"great stay great stay, went seahawk game aweso...","great stay great stay, went seahawk game aweso...",great stay great stay went seahawk game aweso...,"[great, stay, great, stay, went, seahawk, game...","[great, stay, great, stay, went, seahawk, game..."

In [ ]:
#Next I will proceed with Lemmatization in order to stem words to a more meaningful base form so that I do not lose intended meaning from the reviews.

In [27]:
lemmatizer = WordNetLemmatizer()

In [28]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Nkosi\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [30]:
data['lemmatized'] = data['tokenized'].apply(lambda tokens: [lemmatizer.lemmatize(token) for token in tokens])

In [32]:
data['lemmatized'][0]

['nice',
 'hotel',
 'expensive',
 'parking',
 'got',
 'good',
 'deal',
 'stay',
 'hotel',
 'anniversary',
 'arrived',
 'late',
 'evening',
 'took',
 'advice',
 'previous',
 'review',
 'valet',
 'parking',
 'check',
 'quick',
 'easy',
 'little',
 'disappointed',
 'non',
 'existent',
 'view',
 'room',
 'room',
 'clean',
 'nice',
 'size',
 'bed',
 'comfortable',
 'woke',
 'stiff',
 'neck',
 'high',
 'pillow',
 'not',
 'soundproof',
 'like',
 'heard',
 'music',
 'room',
 'night',
 'morning',
 'loud',
 'bang',
 'door',
 'opening',
 'closing',
 'hear',
 'people',
 'talking',
 'hallway',
 'maybe',
 'noisy',
 'neighbor',
 'aveda',
 'bath',
 'product',
 'nice',
 'not',
 'goldfish',
 'stay',
 'nice',
 'touch',
 'taken',
 'advantage',
 'staying',
 'longer',
 'location',
 'great',
 'walking',
 'distance',
 'shopping',
 'overall',
 'nice',
 'experience',
 'pay',
 '40',
 'parking',
 'night']

In [ ]:
##I will now break the text down into ngrams to explore sequences of neighbouring words which I expect to reveal patterns in the data set.

In [46]:
tokens_clean = sum(data['lemmatized'], [])

In [48]:
unigrams = (pd.Series(nltk.ngrams(tokens_clean, 1)).value_counts())

In [50]:
print(unigrams)

(hotel,)             293
(room,)              278
(great,)             127
(not,)               123
(stay,)               97
                    ...
(hole,)                1
(needsattention,)      1
(drain,)               1
(continuously,)        1
(connected,)           1
Name: count, Length: 2484, dtype: int64

In [52]:
bigrams = (pd.Series(nltk.ngrams(tokens_clean, 2)).value_counts())
print(bigrams)

(n, t)                   81
(great, location)        25
(space, needle)          24
(hotel, monaco)          16
(pike, place)            13
                         ..
(reluctant, help)         1
(intruder, reluctant)     1
(like, intruder)          1
(guest, like)             1
(food, raffle)            1
Name: count, Length: 8450, dtype: int64

In [54]:
trigrams = (pd.Series(nltk.ngrams(tokens_clean, 3)).value_counts())
print(trigrams)

(pike, place, market)       9
(ca, n, t)                  7
(n, t, want)                6
(view, space, needle)       5
(hotel, n, t)               5
                           ..
(room, starting, minute)    1
(starting, minute, stay)    1
(minute, stay, hotel)       1
(stay, hotel, personnel)    1
(hotel, right, street)      1
Name: count, Length: 9611, dtype: int64